In [1]:
import pandas as pd
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf

In [2]:
conf = SparkConf()
conf.set('spark.jars','https://jdbc.postgresql.org/download/postgresql-42.7.1.jar')

In [3]:
spark = SparkSession.builder \
.master("local[*]") \
.appName("stream_processing") \
.config(conf=conf) \
.getOrCreate()

24/01/28 02:14:17 WARN Utils: Your hostname, codespaces-cbe94a resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/01/28 02:14:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/28 02:14:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [5]:
static_dataframe = spark.read \
.option("header","true") \
.csv("data/green/")

In [6]:
static_dataframe.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2018-12-21 15:17:29|  2018-12-21 15:18:57|                 N|         1|         264|         264|              5|          .00|          3|  0.5|    0.5|         0|           0|     NULL|                  0.3|         4.3|           2|        1|                NULL|
|       2| 2019-01-01 00:10:16|  2019-01-01 00:16:32|                 N|         1|          97|          49|              2|          .86|          6|  0.5|    0.5|         0|           0|     NULL|                  0.3|         7.3|           2|        1|                NULL|
|       2| 2019-01-01 00:27:11|  2019-01-01 00:31:38|                 N|         1|          49|         189|              2|          .66|        4.5|  0.5|    0.5|         0|           0|     NULL|                  0.3|         5.8|           1|        1|                NULL|
|       2| 2019-01-01 00:46:20|  2019-01-01 01:04:54|                 N|         1|         189|          17|              2|         2.68|       13.5|  0.5|    0.5|      2.96|           0|     NULL|                  0.3|       19.71|           1|        1|                NULL|
|       2| 2019-01-01 00:19:06|  2019-01-01 00:39:43|                 N|         1|          82|         258|              1|         4.53|         18|  0.5|    0.5|         0|           0|     NULL|                  0.3|        19.3|           2|        1|                NULL|
|       2| 2019-01-01 00:12:35|  2019-01-01 00:19:09|                 N|         1|          49|          17|              1|         1.05|        6.5|  0.5|    0.5|         0|           0|     NULL|                  0.3|         7.8|           1|        1|                NULL|
|       2| 2019-01-01 00:47:55|  2019-01-01 01:00:01|                 N|         1|         255|          33|              1|         3.77|       13.5|  0.5|    0.5|         0|           0|     NULL|                  0.3|        14.8|           1|        1|                NULL|
|       1| 2019-01-01 00:12:47|  2019-01-01 00:30:50|                 N|         1|          76|         225|              1|         4.10|         16|  0.5|    0.5|         0|           0|     NULL|                  0.3|        17.3|           1|        1|                NULL|
|       2| 2019-01-01 00:16:23|  2019-01-01 00:39:46|                 N|         1|          25|          89|              1|         7.75|       25.5|  0.5|    0.5|         0|           0|     NULL|                  0.3|        26.8|           1|        1|                NULL|
|       2| 2019-01-01 00:58:02|  2019-01-01 01:19:02|                 N|         1|          85|          39|              1|         3.68|       15.5|  0.5|    0.5|         0|           0|     NULL|                  0.3|        16.8|           1|        1|                NULL|
|       2| 2019-01-01 00:37:00|  2019-01-01 00:56:42|                 N|         1|         223|         238|              1|         6.84|         22|  0.5|    0.5|         8|        5.76|     NULL|                  0.3|       37.06|           1|        1|                NULL|
|       2| 2019-01-01 00:13:48|  2019-01-01 00:21:00|                 N|         1|         129|         129|              2|         1.15|        6.5|  0.5|    0.5|      1.56|           0|     NULL|                  0.3|        9.36|           1|        1|                NULL|
|       2| 2019-01-01 00:19:59|  2019-01-01 00:45:50|                 N|         1|          71|          71|              1|          .49|       15.5|  0.5|    0.5|         0|           0|     NULL|                  0.3|        16.8|           1|        1|                NULL|
|       2| 2019-01-01 00:57:57|  2019-01-01 01:20:10|                 N|         1|          85|         177|              1|         3.61|         17|  0.5|    0.5|         0|           0|     NULL|                  0.3|        18.3|           1|        1|                NULL|
|       1| 2019-01-01 00:09:02|  2019-01-01 00:17:50|                 N|         1|         256|          80|              1|         1.20|        7.5|  0.5|    0.5|       5.2|           0|     NULL|                  0.3|          14|           1|        1|                NULL|
|       1| 2019-01-01 00:22:12|  2019-01-01 00:25:29|                 N|         1|          80|          80|              1|          .50|          4|  0.5|    0.5|         0|           0|     NULL|                  0.3|         5.3|           2|        1|                NULL|
|       1| 2019-01-01 00:31:55|  2019-01-01 00:52:59|                 N|         1|         256|         229|              1|         5.50|       19.5|  0.5|    0.5|      4.15|           0|     NULL|                  0.3|       24.95|           1|        1|                NULL|
|       2| 2019-01-01 00:30:20|  2019-01-01 00:54:19|                 N|         1|         255|         231|              1|         5.01|         20|  0.5|    0.5|      4.26|           0|     NULL|                  0.3|       25.56|           1|        1|                NULL|
|       2| 2018-12-31 23:58:06|  2019-01-01 00:00:57|                 N|         1|         146|           7|              1|          .43|          4|  0.5|    0.5|      1.06|           0|     NULL|                  0.3|        6.36|           1|        1|                NULL|
|       2| 2019-01-01 00:40:17|  2019-01-01 00:50:23|                 N|         1|         146|         129|              1|         2.72|       10.5|  0.5|    0.5|      2.36|           0|     NULL|                  0.3|       14.16|           1|        1|                NULL|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [7]:
static_dataframe.schema

StructType([StructField('VendorID', StringType(), True), StructField('lpep_pickup_datetime', StringType(), True), StructField('lpep_dropoff_datetime', StringType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('RatecodeID', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('passenger_count', StringType(), True), StructField('trip_distance', StringType(), True), StructField('fare_amount', StringType(), True), StructField('extra', StringType(), True), StructField('mta_tax', StringType(), True), StructField('tip_amount', StringType(), True), StructField('tolls_amount', StringType(), True), StructField('ehail_fee', StringType(), True), StructField('improvement_surcharge', StringType(), True), StructField('total_amount', StringType(), True), StructField('payment_type', StringType(), True), StructField('trip_type', StringType(), True), StructField('congestion_surcharge', StringType(), True)])

In [8]:
df = pd.read_csv('data/green/green_tripdata_2019-01.csv.gz', compression='gzip', nrows=5)

In [9]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0,NaN,0.3,19.30,2,1,NaN

In [10]:
df.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount               int64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [11]:
spark.createDataFrame(df)

DataFrame[VendorID: bigint, lpep_pickup_datetime: string, lpep_dropoff_datetime: string, store_and_fwd_flag: string, RatecodeID: bigint, PULocationID: bigint, DOLocationID: bigint, passenger_count: bigint, trip_distance: double, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: bigint, ehail_fee: double, improvement_surcharge: double, total_amount: double, payment_type: bigint, trip_type: bigint, congestion_surcharge: double]

In [12]:
spark_dataframe =  spark.createDataFrame(df)

In [13]:
spark_dataframe.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2018-12-21 15:17:29|  2018-12-21 15:18:57|                 N|         1|         264|         264|              5|          0.0|        3.0|  0.5|    0.5|       0.0|           0|      NaN|                  0.3|         4.3|           2|        1|                 NaN|
|       2| 2019-01-01 00:10:16|  2019-01-01 00:16:32|                 N|         1|          97|          49|              2|         0.86|        6.0|  0.5|    0.5|       0.0|           0|      NaN|                  0.3|         7.3|           2|        1|                 NaN|
|       2| 2019-01-01 00:27:11|  2019-01-01 00:31:38|                 N|         1|          49|         189|              2|         0.66|        4.5|  0.5|    0.5|       0.0|           0|      NaN|                  0.3|         5.8|           1|        1|                 NaN|
|       2| 2019-01-01 00:46:20|  2019-01-01 01:04:54|                 N|         1|         189|          17|              2|         2.68|       13.5|  0.5|    0.5|      2.96|           0|      NaN|                  0.3|       19.71|           1|        1|                 NaN|
|       2| 2019-01-01 00:19:06|  2019-01-01 00:39:43|                 N|         1|          82|         258|              1|         4.53|       18.0|  0.5|    0.5|       0.0|           0|      NaN|                  0.3|        19.3|           2|        1|                 NaN|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+

In [14]:
spark_dataframe.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: string (nullable = true)
 |-- lpep_dropoff_datetime: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: long (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- trip_type: long (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [15]:
spark_dataframe.schema

StructType([StructField('VendorID', LongType(), True), StructField('lpep_pickup_datetime', StringType(), True), StructField('lpep_dropoff_datetime', StringType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('RatecodeID', LongType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', LongType(), True), StructField('ehail_fee', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('payment_type', LongType(), True), StructField('trip_type', LongType(), True), StructField('congestion_surcharge', DoubleType(), True)])

In [16]:
from pyspark.sql.types import StructField,StructType,IntegerType,TimestampType,StringType,DoubleType

24/01/28 02:14:32 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [17]:
static_dataframe_schema = StructType([
    StructField('VendorID', IntegerType(), True), 
    StructField('lpep_pickup_datetime', TimestampType(), True),
    StructField('lpep_dropoff_datetime', TimestampType(), True), 
    StructField('store_and_fwd_flag', StringType(), True), 
    StructField('RatecodeID', IntegerType(), True), 
    StructField('PULocationID', IntegerType(), True), 
    StructField('DOLocationID', IntegerType(), True), 
    StructField('passenger_count', IntegerType(), True), 
    StructField('trip_distance', DoubleType(), True), 
    StructField('fare_amount', DoubleType(), True), 
    StructField('extra', DoubleType(), True), 
    StructField('mta_tax', DoubleType(), True), 
    StructField('tip_amount', DoubleType(), True), 
    StructField('tolls_amount', IntegerType(), True), 
    StructField('ehail_fee', DoubleType(), True), 
    StructField('improvement_surcharge', DoubleType(), True), 
    StructField('total_amount', DoubleType(), True), 
    StructField('payment_type', IntegerType(), True), 
    StructField('trip_type', IntegerType(), True), 
    StructField('congestion_surcharge', DoubleType(), True)
 ])

In [18]:
static_dataframe = spark.read \
.schema(static_dataframe_schema) \
.option("header","true") \
.csv("data/green/")

In [19]:
static_dataframe.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: integer (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [20]:
streaming_dataframe = spark.readStream \
.schema(static_dataframe_schema) \
.option('maxFilesPerTrigger','1') \
.csv('data/green/')

In [21]:
spark.conf.set('spark.sql.shuffle.partitions', '5')

In [22]:
green_taxi_data = streaming_dataframe \
.drop('congestion_surcharge','improvement_surcharge') \
.groupBy('passenger_count','VendorID') \
.count() \
.writeStream \
.queryName('green_taxi_data_counts_one') \
.format('memory') \
.outputMode('complete') \
.start()

24/01/28 02:14:41 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-e93f397b-6bce-4d7b-81fe-7a444658be9e. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
24/01/28 02:14:41 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

In [23]:
#green_taxi_data.awaitTermination()

In [24]:
spark.sql("SELECT * FROM green_taxi_data_counts_one ")

DataFrame[passenger_count: int, VendorID: int, count: bigint]

In [25]:
spark.sql("SELECT * FROM green_taxi_data_counts_one ").show()

+---------------+--------+-----+
|passenger_count|VendorID|count|
+---------------+--------+-----+
+---------------+--------+-----+

In [26]:
df_1 = spark.sql("SELECT * FROM green_taxi_data_counts_one ").show()

+---------------+--------+------+
|passenger_count|VendorID| count|
+---------------+--------+------+
|              4|       2|  2593|
|              6|       1|    28|
|              5|       1|    26|
|              3|       1|  1789|
|              5|       2| 20524|
|              1|       2|462025|
|              0|       2|   107|
|           NULL|    NULL|     1|
|              3|       2|  6386|
|              2|       1|  8551|
|              1|       1| 81483|
|              6|       2| 10012|
|              7|       2|     7|
|              4|       1|   451|
|              8|       2|    16|
|              9|       2|    11|
|              0|       1|  1355|
|              2|       2| 35554|
+---------------+--------+------+

In [27]:
from time import sleep
for x in range(5):
    spark.sql("SELECT * FROM green_taxi_data_counts_one").show()
    sleep(1)

+---------------+--------+------+
|passenger_count|VendorID| count|
+---------------+--------+------+
|              4|       2|  5100|
|              6|       1|    42|
|              5|       1|    56|
|              3|       1|  3298|
|              5|       2| 38195|
|              1|       2|885976|
|              0|       2|   269|
|           NULL|    NULL|     2|
|              3|       2| 12309|
|              2|       1| 16363|
|              1|       1|154922|
|              6|       2| 18481|
|              7|       2|    18|
|              4|       1|   850|
|              8|       2|    23|
|              9|       2|    12|
|              0|       1|  2302|
|              2|       2| 68387|
+---------------+--------+------+

+---------------+--------+------+
|passenger_count|VendorID| count|
+---------------+--------+------+
|              4|       2|  5100|
|              6|       1|    42|
|              5|       1|    56|
|              3|       1|  3298|
|              5|       2| 38195|
|              1|       2|885976|
|              0|       2|   269|
|           NULL|    NULL|     2|
|              3|       2| 12309|
|              2|       1| 16363|
|              1|       1|154922|
|              6|       2| 18481|
|              7|       2|    18|
|              4|       1|   850|
|              8|       2|    23|
|              9|       2|    12|
|              0|       1|  2302|
|              2|       2| 68387|
+---------------+--------+------+

+---------------+--------+-------+
|passenger_count|VendorID|  count|
+---------------+--------+-------+
|              4|       2|   7615|
|              6|       1|     60|
|              5|       1|     87|
|              3|       1|   5205|
|              5|       2|  55715|
|              1|       2|1328171|
|              0|       2|    443|
|           NULL|    NULL|      3|
|              3|       2|  18101|
|              2|       1|  24668|
|              1|       1| 232728|
|              6|       2|  27331|
|              7|       2|     26|
|              4|       1|   1323|
|              8|       2|     34|
|              9|       2|     17|
|              0|       1|   3257|
|              2|       2| 102924|
+---------------+--------+-------+

+---------------+--------+-------+
|passenger_count|VendorID|  count|
+---------------+--------+-------+
|              4|       2|   7615|
|              6|       1|     60|
|              5|       1|     87|
|              3|       1|   5205|
|              5|       2|  55715|
|              1|       2|1328171|
|              0|       2|    443|
|           NULL|    NULL|      3|
|              3|       2|  18101|
|              2|       1|  24668|
|              1|       1| 232728|
|              6|       2|  27331|
|              7|       2|     26|
|              4|       1|   1323|
|              8|       2|     34|
|              9|       2|     17|
|              0|       1|   3257|
|              2|       2| 102924|
+---------------+--------+-------+

+---------------+--------+-------+
|passenger_count|VendorID|  count|
+---------------+--------+-------+
|              4|       2|   9870|
|              6|       1|     84|
|              5|       1|    123|
|              3|       1|   7150|
|              5|       2|  70276|
|              1|       2|1697506|
|              0|       2|    546|
|           NULL|    NULL|      4|
|              3|       2|  23279|
|              2|       1|  32434|
|              1|       1| 305054|
|              6|       2|  35770|
|              7|       2|     30|
|              4|       1|   1899|
|              8|       2|     46|
|              9|       2|     19|
|              0|       1|   4176|
|              2|       2| 133835|
+---------------+--------+-------+

In [32]:
df_1 = spark.sql("SELECT * FROM green_taxi_data_counts_one ")

In [33]:
df_1.show()

+---------------+--------+-------+
|passenger_count|VendorID|  count|
+---------------+--------+-------+
|              4|       2|  28489|
|              6|       1|    205|
|              5|       1|    400|
|              3|       1|  21472|
|              5|       2| 194447|
|              1|       2|4931694|
|              0|       2|   1798|
|           NULL|    NULL| 942223|
|              3|       2|  71276|
|              2|       1|  97208|
|              1|       1| 961032|
|              6|       2| 108720|
|              7|       2|    130|
|              4|       1|   5850|
|              7|       1|      1|
|              8|       2|    181|
|              9|       2|     46|
|              0|       1|  13089|
|              2|       2| 399864|
+---------------+--------+-------+

In [35]:
df_1.write.format("jdbc") \
 .options(url="jdbc:postgresql://172.19.0.2:5432/ny_taxi",
          dbtable="taxi_rides_all.green_taxi_data",
          user="ahona",
          password="ahona",
          driver="org.postgresql.Driver") \
 .mode('overwrite') \
 .save()